<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <style>
    body {
      margin: 50px 300px 50px 300px;
    }
    div {
      margin: 50px 300px 50px 300px;
      justify-content: left;
    }

  </style>
  <body>
  <form action="" method="post">
    <div>
      <p class="un_p"><strong>Username</strong></p>
       <input
          type="text"
          placeholder="Username"
          name="username"
          value="{{
          request.form.username }}"
        />
       <p class="pw_p"><strong>Password</strong></p>
        <input
          type="password"
          placeholder="Password"
          name="password"
          value="{{
          request.form.password }}"
        />
    </div>

    <div>
      <input class="btn btn-default" type="submit" value="Login" />
        <p> Not a user? <a href="signUp">Sign up</a></p>
    </div>
  </form>
  {% if error %}
      <p class="error"><strong>Error:</strong> {{ error }} {% endif %}  </p>
  </body>

</html>